:root {
    --c-primary: #13BFA2;
    --c-danger: #dc3545;
    --c-info: #00FFFF;
    --c-background: #3B3B4E;
    --c-background-secondary: #5e5e7d;
    --c-text: #A0A0C4;
    --c-text-heading: #FFF;
    --border-radius: 8px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--c-background);
    color: var(--c-text);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--c-text-heading);
    margin: 0;
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    font-size: 2rem;
    color: var(--c-primary);
    font-weight: 600;
    text-decoration: none;
}

.page__header {
    padding: 1rem;
}

.page__info {
    background: var(--c-primary);
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
    color: var(--c-background);
    text-align: center;
    font-weight: 600;
}

.page__body {
    padding: 1rem;
}

.card {
    border-radius: var(--border-radius);
    border: solid 1px var(--c-primary);
    padding: 1rem;
}

.list__actions {
    display: flex;
    margin: 1rem 0;
}

.list {
    border: solid 1px var(--c-text);
    border-radius: var(--border-radius);
}

.list__item {
    background: var(--c-background-secondary);
    padding: 1rem;
}

.list__item:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.list__item:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.list__item:only-child {
    border-radius: var(--border-radius);
}

.list__item:nth-child(2n) {
    background: var(--c-background);
}

.stadium-list-item {
    display: flex;
}

.stadium-list-item__content {
    flex-grow: 1;
}

.stadium-list-item__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    color: var(--c-primary);
    padding: 0.5rem;
    border: solid 1px var(--c-text);
    border-radius: var(--border-radius);
}

.icon--danger {
    color: var(--c-danger);
}

.icon--info {
    color: var(--c-info);
}

.icon svg {
    width: 100%;
    height: 100%;
}

.btn {
    display: block;
    background: #FFF;
    text-decoration: 0;
    padding: 0.6rem 1rem;
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 1.2rem;
    flex-grow: 1;
    border: none;
}

.btn--primary {
    background: var(--c-primary);
    font-weight: 600;
    color: var(--c-background);
}

.btn--secondary {
    background: var(--c-background-secondary);
    font-weight: 600;
    color: var(--c-text-heading);
}

.label {
    display: block;
    margin-bottom: 0.3rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
    border: none;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group__errors {
    color: var(--c-danger);
    margin-top: 0.5rem;
}

.form__actions {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.flash {
    padding: 1rem;
    border: solid 1px var(--c-background-secondary);
    border-radius: var(--border-radius);
    margin: 0 1rem;
}

.flash--error {
    background: #2c0b0e;
    color: var(--c-danger);
}
